body{
    background-color: #FF6064;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    margin:130px 0 130px 0
}

.logo{
    width: 300px;
    height: 266px;
}

.gif{
    width: 90px;
    height: 90px;
}